<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.linuxtools.docker.ui.buildDockerImageLaunchConfigurationType">
    <stringAttribute key="dockerfileName" value="Dockerfile"/>
    <booleanAttribute key="forcerm" value="false"/>
    <booleanAttribute key="noCache" value="false"/>
    <booleanAttribute key="quietBuild" value="false"/>
    <booleanAttribute key="rm" value="false"/>
    <stringAttribute key="sourcePathLocation" value=""/>
    <booleanAttribute key="sourcePathWorkspaceRelativeLocation" value="false"/>
</launchConfiguration>
